protocol static '{{ net_sanitized }}' {
  table t_fulltable;
{% if announce.ipv4.interface is defined %}
  route {{ announce.ipv4.net }} via "{{ announce.ipv4.interface }}";
{% else %}
  {%- if announce.ipv4.address is defined %}
  route {{ announce.ipv4.net }} via {{ announce.ipv4.address }};
  {%- else %}
  route {{ announce.ipv4.net }} unreachable;
  {%- endif %}
{% endif %}

}

