protocol static '{{ net_sanitized }}' {
  table t_fulltable;
{% if ipv4.interface is defined %}
  route {{ ipv4.net }} via "{{ ipv4.interface }}";
{% else %}
  {%- if ipv4.address is defined %}
  route {{ ipv4.net }} via {{ ipv4.address }};
  {%- else %}
  route {{ ipv4.net }} unreachable;
  {%- endif %}
{% endif %}

}

