# Allow incoming BGP connections from {{ peername }} via IPv4
ip4tables -A INPUT -p tcp --dport 179 -i {{ peering.self.ifname }} -s {{ peering.peer.ipv4 }}/32 -j ACCEPT -m comment --comment "Accept BGP from {{ peername }}"
# Allow incoming BFD connections from {{ peername }} via IPv4
ip4tables -A INPUT --dport 3784 -i {{ peering.self.ifname }} -s {{ peering.peer.ipv4 }}/32 -j ACCEPT -m comment --comment "Accept BFD from {{ peername }}"
ip4tables -A INPUT --dport 4784 -i {{ peering.self.ifname }} -s {{ peering.peer.ipv4 }}/32 -j ACCEPT -m comment --comment "Accept BFD multi-hop from {{ peername }}"
