protocol bgp '{{ friendly_name }}_v4' from bgp_internal {
  neighbor {{ peer_address }} as OWN_AS;
  ipv4 {
    gateway direct;
    next hop self;
  };
  direct;
{% if rr_role == "client" %}
  rr client;
{% endif %}
};
