---
- name: Ensure IPv4 BGP connections from vultr are allowed
  template:
    src:  etc/iptables.d/500-allow-BGP4-vultr.conf.j2
    dest: /etc/iptables.d/500-allow-BGP4-vultr.conf
  notify: Restart iptables daemon

- name: Ensure IPv4 vultr peering is set up
  template:
    src: etc/bird/peers/vultr-v4.conf.j2
    dest: /etc/bird/peers/vultr-v4.conf
    mode: 0600
    owner: bird
  notify: Reload bird config
