[Unit]
Description="Initialize routing rules"

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/routing-rulesd

[Install]
WantedBy=network-pre.target
