[Unit]
Description="Initialize routing rules"
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/routing-rulesd

[Install]
WantedBy=network.target
