define ROUTER_ID={{ bgp.router_id }};

define OWN_AS={{ asn }};

function is_own_net_v4() -> bool {
  return net ~ [ {{ ipv4_net }}+ ];
}

function is_own_net_v6() -> bool {
  return net ~ [ {{ ipv6_net }}+ ];
}

filter kernel_export_v4 {
  krt_prefsrc = {{ addresses["as" ~ asn].ipv4 | strip_prefixlen }};
  accept;
};

filter kernel_export_v6 {
  accept;
};
