protocol bgp '{{ friendly_name }}' from bgp_internal {
  neighbor {{ peer_address }}%'{{ peer_interface }}' as OWN_AS;
  gateway direct;
  direct;
{% if rr_role == "client" %}
  rr client;
{%- endif %}
};
