[Unit]
Description=Bird Exporter
After=network.target
Requires=bird.service

[Service]
Type=simple
User=bird
Group=bird
ExecStart=/opt/bird_exporter -bird.v2 -bird.socket "/run/bird/bird.ctl"
Restart=on-abort

LimitMEMLOCK=256M

PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectSystem=strict

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
CapabilityBoundingSet=cap_dac_override
ProtectClock=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
ProtectHostname=yes

[Install]
WantedBy=multi-user.target