protocol static '{{ net_sanitized }}' {
  ipv6 {
    table t_fulltable_v6;
  };
{% if announce.ipv6.interface is defined %}
  route {{ announce.ipv6.net }} via "{{ announce.ipv6.interface }}";
{% else %}
  {%- if announce.ipv6.address is defined %}
  route {{ announce.ipv6.net }} via {{ announce.ipv6.address }};
  {%- else %}
  route {{ announce.ipv6.net }} unreachable;
  {%- endif %}
{% endif %}

}

