auto {{ ifname }}
allow-hotplug {{ ifname }}

iface {{ ifname }} inet static
  address {{ iface.ipv4 }}
{% if not iface.create is defined or iface.create %}
  bridge_ports none
  bridge_stp 0
  bridge_waitport 0
  bridge_fd 0
{% endif %}

iface {{ ifname }} inet6 static
  address {{ iface.ipv6 }}
