#!/usr/bin/env bash

case "$1" in
  start)
    ip rule add pref 30000 to {{ ipv4_net }} lookup {{ asn }}
    ip rule add pref 30000 from {{ ipv4_net }} lookup {{ asn }}
    ip rule add pref 30000 from {{ ipv4_net }} unreachable

    ip rule add pref 30000 to {{ ipv6_net }} lookup {{ asn }}
    ip rule add pref 30000 from {{ ipv6_net }} lookup {{ asn }}
    ip rule add pref 30000 from {{ ipv6_net }} unreachable
    ;;
  stop)
    ip rule del pref 30000 to {{ ipv4_net }} lookup {{ asn }}
    ip rule del pref 30000 from {{ ipv4_net }} lookup {{ asn }}
    ip rule del pref 30000 from {{ ipv4_net }} unreachable

    ip rule del pref 30000 to {{ ipv6_net }} lookup {{ asn }}
    ip rule del pref 30000 from {{ ipv6_net }} lookup {{ asn }}
    ip rule del pref 30000 from {{ ipv6_net }} unreachable
    ;;
esac
