auto {{ ifname }}
iface {{ ifname }} inet manual
  pre-up    ip link add $IFACE type wireguard || true
  pre-up    wg setconf $IFACE /etc/wireguard/{{ ifname }}.conf
{% if wg_self.ipv4 is defined %}
  {% for addr in wg_self.ipv4 -%}
  pre-up    ip addr add {{ addr }} dev $IFACE
  {% endfor %}
{% endif %}
{% if wg_self.mtu is defined -%}
  pre-up    ip link set $IFACE mtu {{ wg_self.mtu }}
{% endif %}
  up        ip link set $IFACE up
  down      ip link set $IFACE down
{% if wg_self.ipv4 is defined %}
  {% for addr in wg_self.ipv4 | reverse -%}
  post-down ip addr del {{ addr }} dev $IFACE || true
  {% endfor %}
{% endif %}
  post-down ip link del $IFACE || true

iface {{ ifname }} inet6 manual
{% if wg_self.ipv6 is defined %}
  {% for addr in wg_self.ipv6 -%}
  pre-up    ip addr add {{ addr }} dev $IFACE
  {% endfor %}
{% endif %}
{% if wg_self.ipv6 is defined -%}
  {% for addr in wg_self.ipv6 | reverse %}
  post-down ip addr del {{ addr }} dev $IFACE || true
  {% endfor %}
{% endif %}
