# See knot.conf(5) or refer to the server documentation.

server:
  rundir: "/run/knot"
  user: knot:knot
  listen: [ {{ knot.listen.ipv4 | default('127.0.0.1') }}, {{ knot.listen.ipv6 | default('::1') }} ]
  version: AS{{ asn }}

log:
  - target: syslog
    any: info

database:
    storage: "/var/lib/knot"

mod-rrl:
  - id: default
    rate-limit: 200

mod-stats:
  - id: custom
    request-protocol: on
    server-operation: on
    request-bytes: off
    response-bytes: off
    edns-presence: on
    flag-presence: on
    response-code: on
    request-edns-option: on
    response-edns-option: on
    reply-nodata: on
    query-type: on
    query-size: off
    reply-size: off

template:
  - id: default
    storage: "/etc/knot/zones"
    file: "%s.zone"
    zonefile-load: difference-no-serial
    zonefile-sync: -1
    journal-content: all
    serial-policy: unixtime
    module: mod-stats/custom
    global-module: mod-stats/custom
    global-module: mod-rrl/default

include: /etc/knot/zones.conf
