protocol bgp '{{ peername }}' from bgp_transit {
  source address {{ peering.self.ipv4 }};
  neighbor {{ peering.peer.ipv4 }} as {{ peering.peer.asn }};
{% if peering.password is defined %}
  password "{{ peering.password }}";
{% endif %}
  direct;
};

