{% set peering_type = peering.type | default('upstream') %}
protocol bgp '{{ peername }}' from bgp_{{ peering_type }} {
  source address {{ peering.self.ipv4 }};
  neighbor {{ peering.peer.ipv4 }} as {{ peering.peer.asn }};
{% if peering.password is defined %}
  password "{{ peering.password }}";
{% endif %}
{% set res_var_suffix = peername | regex_replace('[^a-zA-Z0-9_]', '_') %}
{% if peering.filter.import is defined %}
  import filter
  string res_import_{{ res_var_suffix }};
  {
    res_import_{{ res_var_suffix }} = f_upstream_import();
    if res_import_{{ res_var_suffix }} = "" then {
  {%- if peering.filter.import.prepend is defined %}
    {%- for _ in range(peering.filter.import.prepend) %}

      bgp_path.prepend(OWN_AS);
    {%- endfor %}
  {%- endif %}

      accept;
    }
    reject res_import_{{ res_var_suffix }};
  };
{% endif %}
{% if peering.filter.export is defined %}
  export filter
  string res_export_{{ res_var_suffix }};
  {
    res_export_{{ res_var_suffix }} = f_upstream_export({{ 'true' if peering_type == 'upstream_transitive' else 'false' }});
    if res_export_{{ res_var_suffix }} = "" then {
  {%- if peering.filter.export.prepend is defined %}
    {%- for _ in range(peering.filter.export.prepend) %}

      bgp_path.prepend(OWN_AS);
    {%- endfor %}
  {%- endif %}

      accept;
    }
    reject res_export_{{ res_var_suffix }};
  };
{% endif %}
{% if peering.multihop | default(False) %}
  multihop;
{% else %}
  direct;
{% endif %}
{% if peering.config.ipv6 is defined %}
  {{ peering.config.ipv6 }}
{% endif %}
};

