protocol static vultr_gw {
  table t_fulltable;
  route {{ vultr.ipv4.peer }}/32 via {{ vultr.ipv4.gateway }};
}

protocol bgp vultr from bgp_transit {
  source address {{ vultr.ipv4.address }};
  neighbor {{ vultr.ipv4.peer }} as {{ vultr.asn }};
  password "{{ vultr.password }}";
  multihop 2;
};

