# Peer is provided with transit by us
template bgp 'bgp_downstream' {
  local as OWN_AS;
  ipv4 {
    table t_fulltable_v4;
    import keep filtered;
    import filter downstream_import_v4;
    export filter downstream_export_v4;
  };
  ipv6 {
    table t_fulltable_v6;
    import keep filtered;
    import filter downstream_import_v6;
    export filter downstream_export_v6;
  };
}

# Peer is providing us with transit
template bgp 'bgp_upstream' {
  local as OWN_AS;
  ipv4 {
    table t_fulltable_v4;
    import keep filtered;
    import filter upstream_import_v4;
    export filter upstream_export_v4;
  };
  ipv6 {
    table t_fulltable_v6;
    import keep filtered;
    import filter upstream_import_v6;
    export filter upstream_export_v6;
  };
}

# Peer is providing us with transit and we
# can provide that transit to our downstream peers
template bgp 'bgp_upstream_transitive' {
  local as OWN_AS;
  ipv4 {
    table t_fulltable_v4;
    import keep filtered;
    import filter upstream_import_v4;
    export filter upstream_export_transitive_v4;
  };
  ipv6 {
    table t_fulltable_v6;
    import keep filtered;
    import filter upstream_import_v6;
    export filter upstream_export_transitive_v6;
  };
}

template bgp 'bgp_internal' {
  local as OWN_AS;
{% if bgp.route_reflection is defined and bgp.route_reflection %}
  {%- if bgp.route_reflection == 'off' %}
  {# Same as false and not defined, don't do anything #}
  {%- endif %}
  {%- if bgp.route_reflection == 'client' %}
  rr client;
  {%- endif %}
  {%- if bgp.route_reflection == 'server' %}
  rs client;
  {%- endif %}
  {%- if bgp.route_reflection | ipv4 %}
  rs client;
  rr cluster id {{ bgp.route_reflection }};
  {%- endif %}
{% endif %}
  ipv4 {
    table t_fulltable_v4;
    import keep filtered;
    import filter ibgp_import_v4;
    export filter ibgp_export_v4;
  };
  ipv6 {
    table t_fulltable_v6;
    import keep filtered;
    import filter ibgp_import_v6;
    export filter ibgp_export_v6;
  };
}
