auto {{ ifname }}

iface {{ ifname }} inet static
  address {{ ipv4_primary }}
{% if iface.slaves is defined %}
  bridge_ports{% for slave in iface.slaves %} {{ slave }}{% endfor %}
{% else %}
  bridge_ports none
{% endif %}
  bridge_stp 0
  bridge_waitport 0
  bridge_fd 0

{% for ipv4_address in ipv4_addresses %}
iface {{ ifname }} inet static
  address {{ ipv4_address }}
{% endfor %}

iface {{ ifname }} inet6 static
  address {{ ipv6_primary }}
  post-up ip -6 addr change {{ ipv6_primary }} home dev $IFACE

{% for ipv6_address in ipv6_addresses %}
iface {{ ifname }} inet6 static
  address {{ ipv6_address }}
{% endfor %}
