{% for ifname in interfaces.keys() %}
    {%- set iface = interfaces[ifname] %}
    {%- if iface.radvd is defined and iface.radvd %}
interface {{ ifname }}
{
    AdvSendAdvert on;
    MinRtrAdvInterval 3;
    MaxRtrAdvInterval 10;
    AdvManagedFlag off;
    AdvOtherConfigFlag off;
    AdvReachableTime 0;
    AdvRetransTimer 0;
    AdvCurHopLimit 64;
    AdvDefaultLifetime 1800;
    AdvHomeAgentFlag off;
    AdvDefaultPreference medium;
    AdvSourceLLAddress on;
{% if iface.mtu is defined %}
    AdvLinkMTU {{ iface.mtu }};
{% endif %}
    AdvIntervalOpt on;

{% set ipv6addresses = iface.ipv6 if iface.ipv6 | is_list else [iface.ipv6] %}
{% for ipv6address in ipv6addresses %}
    prefix {{ ipv6address | ipaddr('0') }}
    {
            AdvValidLifetime 7200;
            AdvPreferredLifetime 7200;
            AdvOnLink on;
            AdvAutonomous on;
            AdvRouterAddr off;
    }; # End of prefix definition
    
{% endfor %}

{% if radvd.dns_nameservers is defined %}
{% set nameservers = radvd.dns_nameservers if radvd.dns_nameservers | is_list else [ radvd.dns_nameservers ] %}
    RDNSS{% for nameserver in nameservers %} {{ nameserver }}{% endfor %}
    {
            AdvRDNSSLifetime 6000;
    }; # End of RDNSS definition
{% endif %}

{% if radvd.dns_searchlist_domains is defined %}
{% set searchlist_domains = radvd.dns_searchlist_domains if radvd.dns_searchlist_domains | is_list else [ radvd.dns_searchlist_domains ] %}
    DNSSL{% for domain in searchlist_domains %} {{ domain }}{% endfor %}
    {
            AdvDNSSLLifetime 6000;
    }; # End of DNSSL definition
{% endif %}

}; # End of interface definition
    {%- endif %}
{% endfor %}
